body {
    background: url(/img/background3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    margin: 0;
}

h1 {
    color: #4e4e4e;
    text-align: center;
    width: 70vw;
    font-weight: 100;
    font-size: 2.1em;
}

h1.deskTitle {
    width: 88%;
    text-align: left;
    font-weight: 100;
    letter-spacing: 2px;
}

div#userControl {

    width: 120px;
}

div.avatar {
    text-align: center;
}

div.avatar img {

    width: 27px;

    background-color: white;

    padding: 10px;

    border-radius: 40px;
}

div.avatar:hover .controls {
    display: flex;
}

div.controls {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 12px #ccc;
    top: 60px;
    z-index: 1;
    width: 120px;
}

div.controls button {

    width: 100px;

    border: 0;

    padding: 5px;

    cursor: pointer;
}

.container {
    width: 78vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.cuerpo {
    display: flex;
    padding: 25px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#cols {
    padding: 0;
    border: 0;
}

.columna {
    width: 240px;
    margin-right: 45px;
    margin-bottom: 15px;
}

.envolt {
    width: 240px;
    margin-right: 45px;
    margin-bottom: 45px;
    box-shadow: 2px 3px 19px #00000073;
    border-radius: 15px;
    background-color: cornflowerblue;
    height: fit-content;
}

.link:hover {
    background-color: #9d9d9d;
}

.link {
    height: 45px;
    background-color: white;
    /* margin: 5px;
    border: 1px solid #eee;
    border-radius: 15px;
    height: 50px;
    display: flex;
    align-items: center; */
}

.link a {
    display: block;
    height: 45px;
    line-height: 44px;
    padding-left: 12px;
    text-decoration: none;
    color: black;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 75%;
    overflow: hidden;
}

.link img {
    vertical-align: sub;
    margin-right: 12px;
}

.lcontrols {
    position: relative;
    left: 79%;
    width: fit-content;
    top: -32px;
    display: none;
}

.lcontrols span {
    margin-right: 8px;
}

.link:hover {
    cursor: pointer;
}

.link:hover .lcontrols {
    display: block;
}

.headercolumn {
    height: 50px;
}

i.icofont-gear {
    position: relative;
    left: 208px;
    top: -44px;
    color: #ededed;
}

.ccontrols {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 53%;
    top: -125px;
    width: 35%;
    background-color: goldenrod;
    padding: 14px;
    border-radius: 8px;
    /* transform: translateY(45px); */
    transform: translateY(200%);
    transition: transform 0.3s ease-in-out;
    z-index: -1;
    /* display: none; */

}

.ccontrols.visible {
    transform: translateY(0%);
}

/* .ccontrols span {
    margin-right: 8px;
} */
/* i.icofont-gear:hover + .ccontrols {
    display: flex;
} */
.headercolumn:hover {
    cursor: pointer;
}

/* .headercolumn:hover .ccontrols {
    display: flex;
} */
.headercolumn h2 {
    padding-left: 18px;
    height: 50px;
    background-color: #9d9d9d;
    color: white;
    margin: 0;
    padding-top: 11px;
    border-radius: 15px;
    font-size: 1.3em;
    font-weight: 300;
}

.bodcontrols {
    display: flex;
    width: 10%;
    justify-content: space-around;
    align-items: center;
}

.bodcontrols span {

    cursor: pointer;
}

.deskForm {
    width: 525px;
    height: 525px;
    top: 15%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: none;
}

/* W3C SCHOOLS -----------------------------------*/
.dropbtn {
    background-color: #9d9d9d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #c7c7c7;
}